# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dependencies
node_modules/
api/node_modules/      # ✅ keep this one, only ignore node_modules, not the code

# build
dist/
dist-ssr/
.vite/

# env
.env
.env.local
*.local

# editor + OS
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# vercel
.vercel/
.vercelignore
