# -------------------------
# LOGS
# -------------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# -------------------------
# NODE MODULES
# -------------------------
node_modules/
api/node_modules/

# -------------------------
# FRONTEND BUILD
# -------------------------
dist/
dist-ssr/
.vite/

# -------------------------
# IGNORE BACKEND (API)
# -------------------------
api/

# -------------------------
# ENV FILES
# -------------------------
*.local
.env
.env.local
.env.*
!.env.example

# -------------------------
# EDITOR + OS FILES
# -------------------------
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# -------------------------
# VERCEL
# -------------------------
.vercel/
.vercelignore

# -------------------------
# MISC
# -------------------------
yarn-error.log
